<div class="backgroundWeather">
  <div class="backgroundWeather__infoWeather">
    <div class="backgroundWeather__infoWeather__inputCity">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <input type="text" [(ngModel)]="cityName">
      <button class="backgroundWeather__infoWeather__inputCity__buttonSearch" (click)="searchCityWeather()"><fa-icon
          [icon]="faSearch"></fa-icon></button>
    </div>
    <div class="backgroundWeather__infoWeather__location">
      <p class="backgroundWeather__infoWeather__location__city">{{weatherData.name}}</p>
      <img class="backgroundWeather__infoWeather__location__flag" src={{apiCountryUrl}} alt="">
    </div>
    <h1 class="backgroundWeather__infoWeather__temp">{{weatherData.main.temp.toFixed()}} °C</h1>

    <div class="backgroundWeather__infoWeather__infoplus">
      <div class="backgroundWeather__infoWeather__infoplus__info">
        <img src={{weatherIconUrl}} alt="">
        <p>{{weatherDescription}}</p>
      </div>
      <div class="backgroundWeather__infoWeather__infoplus__info">
        <fa-icon [icon]="faWind"></fa-icon>
        <p>{{weatherData.wind.speed}}km/h</p>
      </div>
      <div class="backgroundWeather__infoWeather__infoplus__info">
        <fa-icon [icon]="faDroplet"></fa-icon>
        <p>{{weatherData.main.humidity}}%</p>
      </div>
    </div>
  </div>
</div>